.card {
  width: 24%;
  text-align: center;
  position: relative;
  border-radius: 20px !important;
}
.img-wrapper {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}
.card .card-bg {
  aspect-ratio: 2/1;
}
.card .dp {
  height: 100px;
  width: 100px;
  object-fit: contain;
  position: absolute;
  top: 25%;
  left: 30%;
  right: 50%;
}
.card-body {
  margin-top: 20px;
}
.card-body h6 {
  font-size: 10px;
}
.card-body p {
  font-size: 13px;
}
.card_btn {
  background-color: #3d7793 !important;
  width: 80% !important;
  margin: auto;
  border: none !important;
  outline: none !important;
}
